@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    width: 1903px;
    margin: auto;
}


header {
    height: 220px;
    text-align: right;
  }
#header_nav{
    padding-right:50px;
    padding-top:90px;  
}
#header_nav li{
    list-style-type: none;
    display: inline-block;
    margin-right:50px;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    letter-spacing: 2px; 
}
#header_nav a{
    text-decoration: none;
    color: black;
}

#header_nav a::after{
    display: block;
    font-weight: bold;
    content: attr(title);
    visibility: hidden;
    height:1px;
}

#header_nav a:hover{
    font-weight: bold;
}



#images1 img, #images2 img{
    float:left;
}

#images1 img{
    height:684px;
    width: 50%;
}
#images2 img{
    height:475px;
    width: 25%;
}
#images1::after{
    clear:both;
    display:block;
    content:"";}
#images2::after{
    clear:both;
    display:block;
    content:"";
}

#expand{
    display: block;
    height: 184px;
    font-size: 32px;
    font-family: 'Karla', sans-serif;
    
}

#expand p{
    padding-top: 75px;
    text-align: center;
}

#what{
    height:280px;
    margin-top:110px;
}
.heading{
    font-size: 76px;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

#what_left{
    margin-left:280px;
    text-align:left;
    float:left;
}
#what_bar{
    margin-left:340px;
}
#what_right{
    float:left;
    margin-left:150px;
}

.text{
    font-family: 'Open Sans', sans-serif;
    width: 660px;
    line-height: 1.6em;
    font-size: 18px;
}


#what_continue{
    height: 1040px;
}

#what_continue img{
    display: block;
    margin-left:123px;
    margin-top:30px;
    width: 660px;
    height: 450px;
    float:left;
}

.box{
    height: 55px;
    width: 55px;
    background-color: #f1f1f1;
}
.box_text{
    position: relative;
    bottom:50px;
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    text-align: center;
    width: 300px;
    margin-left:350px;
}

#box_bold{
    background-color: #d4d4d4;
}
#box_text_bold{
    font-weight: bold;
}

.line{
    float: left;
    margin-left: 140px;
    padding-bottom: 50px;
}


#what_text::before{
    display:block;
    content:"";
    clear: both;
}

#ux{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    margin-left: 420px;
}

#ux_text{
    margin-top: 40px;
    margin-left:140px;
}

#about img{
    float:left;
    margin-left:123px;
    height: 790px;
    width: 660px;
}

#about{
    height: 1000px;
}

#about_right{
    float:left;
    margin-left:150px;
}



#about_text{
    margin-top:130px;
}

.vertical_bar{
    width: 1px;
    height: 108px;
    background-color: black;
    float:left;
}

#about_bar{
    margin-left: 165px;
}

#contact{
    height: 655px;
}

.contact_heading{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}

.contact_text{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

.contact_card{
    margin-top: 40px;
    margin-left:123px;
    width: 150px;
}


#cc2, #cc3{
    float:left;
    
}

#contact_left{
    float:left;
    margin-top: 40px;
}

#contact_left .heading{
    margin-bottom: 130px;
    margin-left: 320px;
    
}

#contact_bar{
    margin-left: 355px;
    margin-top: 30px;
}

#contact_right{
    margin-left:140px;
    float:left;
}
.contact_form{
    background-color: #f1f1f1;
    border: none;
    height: 40px;
    width: 560px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

#text_form{
    height: 230px;
    resize: none;
}

#send_button{
    font-family: 'Karla',sans-serif;
    font-size: 22px;
    background-color: white;
    border: none;
    margin-left: 260px;
}

footer{
    height: 80px;
}

#footer_text{
    font-family: 'karla',sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 200px;
    margin-top: 20px;
}
